fastapi
uvicorn[standard]
python-multipart
pydantic[email]
sqlalchemy
psycopg2-binary
qdrant-client
python-dotenv
pydantic-settings
openai
pypdf
pymupdf
opencv-python-headless
pillow
requests
pyzbar
pylibdmtx
zxing-cpp
boto3
